@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700,700i,900&display=swap");
* {
  font-family: 'Roboto', sans-serif;
  font-size: 16.25px;
  padding: 0;
  margin: 0;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.section .contentCenter {
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section.white {
  background-color: white !important;
}

.section.white h1 {
  color: #24252A;
}

.section.white p {
  color: rgba(36, 37, 42, 0.85);
}

.section.dark {
  background-color: #4D05E8 !important;
  padding: 7.5% 0%;
  margin-top: 5%;
}

.intro {
  font-size: 1.25rem;
  max-width: 62.5%;
  font-weight: 300;
  line-height: 1.05;
  margin-bottom: 10px;
  color: whitesmoke;
}

.intro.marginTop {
  margin-top: 15px;
}

@media screen and (min-width: 767px) {
  .intro {
    font-size: 1.5rem;
  }
}

.main-header {
  font-size: 2.5rem;
  line-height: 1;
  letter-spacing: -.05rem;
  word-spacing: -1px;
  font-weight: 700;
  color: white;
}

@media screen and (min-width: 767px) {
  .main-header {
    font-size: 3.5rem;
  }
}

.textLink {
  font-size: .9rem;
  font-weight: 500;
  color: whitesmoke;
  letter-spacing: -.025rem;
  word-spacing: -.25px;
  text-decoration: none;
}

.textLink.dark {
  color: grey;
}

.textLink.bottom {
  position: absolute;
  bottom: 5%;
  right: 0;
  left: 0;
}

@media screen and (min-width: 1024px) {
  .textLink.bottom {
    bottom: 7.5%;
  }
}

.textLink:hover {
  cursor: pointer;
}

.secondary-header {
  font-size: 2.5rem;
  line-height: 1;
  letter-spacing: -.05rem;
  word-spacing: -1px;
  font-weight: 700;
  margin-bottom: 10px;
  color: black;
}

@media screen and (min-width: 767px) {
  .secondary-header {
    font-size: 3.5rem;
  }
}

.content-para {
  padding: 0 5%;
  font-size: 1.05rem;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 10px;
  color: grey;
}

@media screen and (min-width: 767px) {
  .content-para {
    font-size: 1.1rem;
    padding: 0 10%;
  }
}

@media screen and (min-width: 1024px) {
  .content-para {
    padding: 0 32.5%;
  }
}

.big-header {
  font-size: 4.5rem;
  line-height: 1;
  letter-spacing: -.05rem;
  word-spacing: -1px;
  font-weight: 700;
  margin-bottom: 10px;
  color: black;
  margin-bottom: 0;
}

@media screen and (min-width: 767px) {
  .big-header {
    font-size: 5.5rem;
  }
}

.projectDescription {
  font-weight: 500;
  color: grey;
  margin-bottom: 10px;
}

.sub-header {
  font-size: 2rem;
  color: black;
  margin-bottom: 5px;
}

ol {
  list-style-type: none;
}

ol li, ol strong {
  color: darkgrey;
  font-size: .95rem;
  margin-bottom: 10px;
}

.btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.025em;
  color: white;
  text-decoration: none;
  padding: 15px 45px;
}

.btn.btn-primary {
  background: #4D05E8;
  border-radius: 7px;
  position: relative;
  top: 30px;
  -webkit-transition: all .65s .05s;
  transition: all .65s .05s;
}

.btn.btn-primary:hover {
  opacity: .85;
}

.btn.btn-primary.smaller {
  padding: 15px 30px;
  font-size: 15.25px;
}

.btn.btn-primary.lighter {
  font-weight: 400;
}

.btn.btn-secondary {
  background-color: rgba(77, 5, 232, 0);
  color: #4D05E8;
  border: 2px solid #4D05E8;
  border-radius: 7px;
  position: relative;
  top: 40px;
  -webkit-transition: all .65s .05s;
  transition: all .65s .05s;
  position: relative;
  top: 40px;
}

.btn.btn-secondary.inverse {
  color: white;
}

.btn.btn-secondary.inverse:hover {
  border-bottom: 2.5px solid white;
  border-radius: 0;
}

.btn.btn-secondary:hover {
  background-color: #4d05e8;
  color: white;
}

.btn-group a {
  margin-right: 10px;
}

@media screen and (min-width: 320px) {
  .btn-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .btn-group a {
    margin-bottom: 15px;
    max-width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .btn-group {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

i {
  margin-left: 2.5px;
}

@media screen and (min-width: 320px) {
  #siteLogo {
    position: absolute;
    top: 25px;
    left: 25px;
  }
}

@media screen and (min-width: 767px) {
  #siteLogo {
    position: absolute;
    top: 25px;
    left: 75px;
  }
}

@media screen and (min-width: 1024px) {
  #siteLogo {
    position: absolute;
    top: 25px;
    left: 75px;
  }
}

@media screen and (min-width: 320px) {
  #siteNav {
    display: none;
  }
}

@media screen and (min-width: 767px) {
  #siteNav {
    position: absolute;
    top: 25px;
    right: 75px;
    height: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #siteNav a {
    color: white;
    margin-right: 25px;
    text-decoration: none;
  }
}

#mobileNav {
  height: 75px;
  width: 75px;
  position: absolute;
  top: 25px;
  right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mobileNav i {
  font-size: 1.5rem;
  color: white;
  margin-left: auto;
}

@media screen and (min-width: 767px) {
  #mobileNav {
    display: none;
  }
}

#overlay {
  background-color: white;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: -1;
  -webkit-transition: all 1s .15s;
  transition: all 1s .15s;
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#overlay #closeButton {
  height: 75px;
  width: 75px;
  position: absolute;
  top: 25px;
  right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#overlay #closeButton i {
  font-size: 1.5rem;
  color: #4D05E8;
  margin-left: auto;
}

#overlay #mobileNavLinks {
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#overlay #mobileNavLinks a {
  margin-bottom: 15px;
  font-size: 2rem;
  font-weight: 900;
  color: #4D05E8;
  letter-spacing: -.025rem;
  word-spacing: -.25px;
  text-decoration: none;
  text-transform: uppercase;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #4D05E8;
}

#fp-nav {
  top: 90%;
}

.fp-controlArrow.fp-prev {
  display: none;
}

.fp-controlArrow.fp-next {
  display: none;
}

#split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1024px) {
  #split {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

#split .col {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 5%;
}

@media screen and (min-width: 1024px) {
  #split .col {
    height: 100vh;
    -webkit-box-flex: 1;
        -ms-flex: 1 50%;
            flex: 1 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
}

#split .col h2 {
  margin-top: auto;
}

@media screen and (min-width: 1024px) {
  #split .col h2 {
    margin-top: 0;
  }
}

#split .col a {
  margin-bottom: auto;
}

@media screen and (min-width: 1024px) {
  #split .col a {
    position: fixed;
    bottom: 5%;
  }
}

#split .col.design {
  background-color: #4D05E8;
}

#split .col.design h2 {
  color: white;
}

#siteNav.colored a {
  color: #4D05E8;
  opacity: .75;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#siteNav.colored a:hover {
  opacity: 1;
}

.portfolio-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5%;
}

@media screen and (min-width: 1024px) {
  .portfolio-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.portfolio-item .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .portfolio-item .col {
    -webkit-box-flex: 1;
        -ms-flex: 1 50%;
            flex: 1 50%;
  }
}

.portfolio-item .col.image {
  padding-bottom: 7.5%;
  max-height: 25vh;
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1024px) {
  .portfolio-item .col.image {
    padding: 0;
    margin: 0;
    padding-right: 2.5%;
  }
}

.portfolio-item .col.image .portfolio-image {
  margin: 0;
  max-width: 100%;
  height: auto;
}

.portfolio-item .col.text {
  padding-top: 5%;
  text-align: left;
}

@media screen and (min-width: 1024px) {
  .portfolio-item .col.text {
    padding: 0;
    margin: 0;
  }
}

.portfolio-item .col.text .content-para {
  padding-left: 0;
  margin-bottom: 0;
}

.portfolio-item .col.text .btn-group {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio-item .col.text .btn-group a {
  margin: 0;
  margin-right: auto;
}

#otherWork {
  padding: 15% 5%;
}

#otherWork h2 {
  margin-bottom: 10px;
}

#otherWork p {
  color: white;
  opacity: .8;
}

#otherWork .btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 1024px) {
  #otherWork .btn-group {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

#skills {
  padding: 50px 100px;
}

#skills h2 {
  margin-bottom: 25px;
}

@media screen and (min-width: 1024px) {
  #skills h2 {
    text-align: left;
    position: relative;
    left: 5%;
  }
}

#skills .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1024px) {
  #skills .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

#skills .row .col {
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

#skills .row .col p {
  padding-left: 0;
  margin-top: 5px;
}

#skills .row .col ol {
  padding-left: 0;
  padding-right: 0;
  margin-top: 10px;
}

#skills .row .col a {
  margin-right: auto;
  margin-bottom: 25px;
}

.section.white p {
  max-width: 50%;
  line-height: 1.5;
}
/*# sourceMappingURL=styles.css.map */