// Import Google Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700,700i,900&display=swap');

@import 'mixAndVars/variables';
@import 'mixAndVars/mixins';

// General Page Styles and Resets
* {
    font-family: 'Roboto', sans-serif;
    font-size: 16.25px;
    padding: 0;
    margin: 0;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}
.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .contentCenter {
        @include centerContent;
    }

    &.white {
        background-color: white !important;

        h1 {
            color: #24252A;
        }
        p {
            color: rgba($color: #24252A, $alpha: .85);
        }
    }
    &.dark {
        background-color: #4D05E8 !important;
        padding: 7.5% 0%;
        margin-top: 5%;
    }
}

@import 'helpers/typography';

// Button Styles
@import 'helpers/buttons';

// Nav Layout and Positioning
@import 'helpers/nav';

@import 'reset/fullPageReset';



@import 'extraPages/extraPages';
