#split {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $large) {
        flex-direction: row;
    }

    .col {
        height: 50vh;
        display: flex;
        flex-direction: column;
        padding-left: 5%;

        @media screen and (min-width: $large) {
            height: 100vh;
            flex: 1 50%;
            justify-content: center;
            align-items: center;
            padding: 0;
        }

        h2 {
            margin-top: auto;

            @media screen and (min-width: $large) {
                margin-top: 0;
            }
        }
        a {
            margin-bottom: auto;

            @media screen and (min-width: $large) {
                position: fixed;
                bottom: 5%;
            }
        }

        &.design {
            background-color: #4D05E8;

            h2 {
                color: white;
            }
        }
    }
}

#siteNav.colored {
    a {
        color: #4D05E8;
        opacity: .75;
        transition: all 1s;

        &:hover {
            opacity: 1;
        }
    }
}

.portfolio-item {
    display: flex;
    flex-direction: column;
    padding: 5%;

    @media screen and (min-width: $large) {
        flex-direction: row;
        align-items: center;
    }

    .col {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: $large) {
            flex: 1 50%;
        }

        &.image {
            padding-bottom: 7.5%;
            max-height: 25vh;

            @media screen and (min-width: $large) {
               
               padding: 0;
               margin: 0;

               padding-right: 2.5%;
            }

            @include centerContent;

            .portfolio-image {
                margin: 0;
                max-width: 100%;
                height: auto;
            }
        }

        &.text {
            padding-top: 5%;
            text-align: left;

            @media screen and (min-width: $large) {
                padding: 0;
                margin: 0;

                
            }

            .content-para {
                padding-left: 0;
                margin-bottom: 0;
            }

            .btn-group {
                margin: 0;
                padding: 0;
                display: flex;

                a {
                    margin: 0;
                    margin-right: auto;
                }
            }
        }
    }
}

#otherWork {
    padding: 15% 5%;

    h2 {
        margin-bottom: 10px;
    }

    p {
        color: white;
        opacity: .8;
    }

    .btn-group {
        display: flex;

        @media screen and (min-width: $large) {
            flex-direction: row;
        }
    }
}

#skills {
    padding: 50px 100px;
    
    h2 {
        margin-bottom: 25px;

        @media screen and (min-width: $large) {
            text-align: left;
            position: relative;
            left: 5%;
        }
    }

    .row {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: $large) {
            flex-direction: row;
        }

        .col {
            padding: 5%;
            display: flex;
            flex-direction: column;
            text-align: left;

            p {
                padding-left: 0;
                margin-top: 5px;
            }

            ol {
                padding-left: 0;
                padding-right: 0;
                margin-top: 10px;
            }

            a {
                margin-right: auto;
                margin-bottom: 25px;
            }
        }
    }
}
.section.white {

    p {
        max-width: 50%;
        line-height: 1.5;
    }
}