#fp-nav ul li a span, 
.fp-slidesNav ul li a span {
    background: #4D05E8;
}
#fp-nav {
    top: 90%;
}

.fp-controlArrow.fp-prev {
    display: none;
}
.fp-controlArrow.fp-next {
    display: none;
}