body {
    overflow-x: hidden;
}
.jumbotron {
    height: 30vh;
    background-color: $grey;
    padding: 5%;
    margin-bottom: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .jumbotronImage {
        height: 100%;
        width: auto;
    }
}
.section {
    padding: 5%;
    padding-left: 15%;

    display: flex;

    @media screen and (min-width: $small) {
        flex-direction: column;
    }
    @media screen and (min-width: $medium) {
        flex-direction: row;
    }

    .col {
        flex: 1 30%;
        padding-right: 3%;
        display: flex;
        flex-direction: column;

        h1 {
            margin: 0;
            padding: 0;
        }
        h4 {
            margin: 0;
            padding: 0;
        }
        ol {
            margin: 0;
            padding: 0;
            padding-left: 15px;

            @media screen and (min-width: $small) {
                margin-bottom: 25px;
            }
            @media screen and (min-width: $medium) {
                margin-bottom: 0;
            }
            

            li {
                color: $darkgrey;
                opacity: .75;
                margin-bottom: 7.5px;

                @media screen and (min-width: $small) {
                    width: 80%;
                }
                @media screen and (min-width: $medium) {
                    width: 200%;
                }
            }
        }
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            margin-top: 15px;
            
            li {
                margin-bottom: 7.5px;
            }
        }
    }
}
.portfolio-item {
    display: flex;

    @media screen and (min-width: $small) {
        flex-direction: column;
    }
    @media screen and (min-width: $medium) {
        flex-direction: row;
    }

    &.inverse {
        .col {
            .portfolio-image {
                position: relative;
                right: 50px;
                left: 0px;
                width: 100%;
                height: auto;
            }
            h2 {
                margin-bottom: 0;
                position: relative;
                left: 25%;
            }
    
            p {
                max-width: 75%;
                position: relative;
                left: 25%;
            }
            .btn-group {
                position: relative;
                left: 25%;
            }
        }
    }
    

    .col {
        flex: 1 50%;
        padding: 10% 0;
        padding-left: 5%;

        display: flex;
        flex-direction: column;

        &.text {
            margin-top: auto;
            margin-bottom: auto;
            
        }

        .portfolio-image {
            width: 100%;
            height: auto;
            margin-left: auto;
            position: relative;

            @media screen and (min-width: $small) {
                margin-right: auto;
                left: 0;
            }
            @media screen and (min-width: $medium) {
                margin-right: 0;
                left: 50px;
            }
        }

        h2 {
            margin-right: auto;
            margin-bottom: 0;
        }

        p {
            max-width: 75%;
            margin-right: auto;
        }

        .btn-group {
            a {
                margin-right: 15px;
            }
        }
    }
}
.contact {
    background-color: $blue;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10%;

    margin-top: 7.5%;

        .contactLinkBig {
            font-size: 2.5rem;
            color: white;
            font-weight: 400;
            transition: all .25s;

            &:hover {
                margin: 0;
                padding: 0;
                padding-bottom: -5px;
                border-bottom: 2.5px solid white;
                text-decoration: none;
            }
        }
}