.hero {
    margin-left: 5%;
    padding-left: 5%;
    margin-bottom: 5%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-image: url(../../imgs/heroImage.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: bottom right;


    .hero-content {

        @media screen and (min-width: $small) {
            max-width: 80%;
          }
          @media screen and (min-width: $medium) {
            max-width: 65%;
          }
          @media screen and (min-width: $large) {
            max-width: 50%;
          }
      

        small {
            color: $darkgrey;
        }
    
        h1 {
            color: $darkblack;
            margin-top: 10px;
            margin-bottom: 25px;
        }
    
        a {
            text-decoration: none;
            color: $darkgrey;
            text-transform: uppercase;
            font-size: .9rem;

            &:hover {
              color: $blue !important;
            }
        }
    }
}