.project {
    background-color: $blue;

    @media screen and (min-width: $small) {
        margin-left: 0;
        padding-bottom: 6.75vh;
    }
    @media screen and (min-width: $medium) {
        margin-left: 5%;
        padding: 12.5vh 10%;
    }

    .head {
        margin-bottom: 25vh;
        border-top: 1.5px solid rgba($color: #fff, $alpha: .75);
        padding-top: 25px;
        display: flex;

        @media screen and (min-width: $small) {
            flex-direction: column;
            margin-bottom: 12.5vh;
        }
        @media screen and (min-width: $medium) {
            flex-direction: row;
        }



        .title {
            flex: 1 50%;

            @media screen and (min-width: $small) {
                flex: 1 100%;
            }

            display: flex;

            h6 {
                margin-right: auto;
                color: rgba($color: #fff, $alpha: .75);
            }
        }

        .number {
            flex: 1 50%;

            @media screen and (min-width: $small) {
                flex: 1 100%;
            }

            display: flex;

            h6 {
                color: rgba($color: #fff, $alpha: .75);

                @media screen and (min-width: $small) {
                    margin-left: 0;
                    margin-right: auto;
                }
                @media screen and (min-width: $medium) {
                    margin-left: auto;
                }
            }
        }
    }

   .row {
       display: flex;

       @media screen and (min-width: $small) {
            flex-direction: column;
        }
        @media screen and (min-width: $medium) {
            flex-direction: row;
        }

    .project-content {

        padding-right: 5%;


        @media screen and (min-width: $small) {
            flex: 1 100%;
        }
        @media screen and (min-width: $medium) {
            flex: 1 50%;
        }

        h2 {
            color: white;
        }

        p {
            color: white;
        }
    }

    .project-link {
        @media screen and (min-width: $small) {
            flex: 1 100%;
        }
        @media screen and (min-width: $medium) {
            flex: 1 50%;
        }

        display: flex;

        .arrowLink {

            @media screen and (min-width: $small) {
                margin-right: auto;
                margin-left: 0;
            }
            @media screen and (min-width: $medium) {
               align-self: center;
                margin-left: auto;
            }

            height: 75px;
            width: 75px;
            background-color: white;
            border-radius: 50px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            i {
                color: $blue;
                font-size: 25px;
            }
        }
    }
   }
}

#workTop {
    background-image: url(../../imgs/designBG.svg);
    background-size: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-attachment: fixed;
    transition: all .5s .25s;

    &:hover {
        background-size: 55%;
    }
}

#workSecond {
    background-image: url(../../imgs/designBG1.svg);
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-attachment: fixed;
    transition: all .5s .25s;

    &:hover {
        background-size: 105%;
    }
}

#workLast {
    background-image: url(../../imgs/designBG2.svg);
    background-size: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-attachment: fixed;
    transition: all .5s .25s;

    &:hover {
        background-size: 55%;
    }
}