.btn {

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.025em;
    color: rgba($color: #ffffff, $alpha: 1.0);
    text-decoration: none;
    padding: 15px 45px;

    &.btn-primary {
        background: #4D05E8;
        border-radius: 7px;
        position: relative;
        top: 30px;
        transition: all .65s .05s;

        &:hover {
            opacity: .85;
        }
        &.smaller {
            padding: 15px 30px;
            font-size: 15.25px;
        }
        &.lighter {
            font-weight: 400;
        }
    }
    &.btn-secondary {
        background-color: rgba($color: #4D05E8, $alpha: 0);
        color: #4D05E8;
        border: 2px solid #4D05E8;
        border-radius: 7px;
        position: relative;
        top: 40px;
        transition: all .65s .05s;
        position: relative;
        top: 40px;

        &.inverse {
            color: white;

            &:hover {
                border-bottom: 2.5px solid white;
                border-radius: 0;
            }
        }

        &:hover {
            background-color: rgba($color: #4D05E8, $alpha: 1);
            color: white;
        }
    }
}

.btn-group {
    
    a {
        margin-right: 10px;
    }

    @media screen and (min-width: $small) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        a {
            margin-bottom: 15px;
            max-width: 50%;
        }
    }

    @media screen and (min-width: $large) {
        flex-direction: row;
    }
}
i {
    margin-left: 2.5px;
}