.intro {
    font-size: 1.25rem;
    max-width: 62.5%;
    font-weight: 300;
    line-height: 1.05;
    margin-bottom: 10px;
    color: whitesmoke;

    &.marginTop {
        margin-top: 15px;
    }

    @media screen and (min-width: $medium) {
        font-size: 1.5rem;
    }
}

.main-header {
    font-size: 2.5rem;
    line-height: 1;
    letter-spacing: -.05rem;
    word-spacing: -1px;
    font-weight: 700;
    color: white;

    @media screen and (min-width: $medium) {
        font-size: 3.5rem;
    }
}
.textLink {
    font-size: .9rem;
    font-weight: 500;
    color: whitesmoke;
    letter-spacing: -.025rem;
    word-spacing: -.25px;
    text-decoration: none;

    &.dark {
        color: grey;
    }
    
    &.bottom {
        position: absolute;
        bottom: 5%;
        right: 0;
        left: 0;

        @media screen and (min-width: $large) {
            bottom: 7.5%;
        }
    }


    &:hover {
        cursor: pointer;
    }
}

.secondary-header {
    font-size: 2.5rem;
    line-height: 1;
    letter-spacing: -.05rem;
    word-spacing: -1px;
    font-weight: 700;
    margin-bottom: 10px;
    color: black;

    @media screen and (min-width: $medium) {
        font-size: 3.5rem;
    }
}
.content-para {
    padding: 0 5%;
    font-size: 1.05rem;
    font-weight: 300;
    line-height: 1.25;
    margin-bottom: 10px;
    color: grey;

    @media screen and (min-width: $medium) {
        font-size: 1.1rem;
        padding: 0 10%;
    }
    @media screen and (min-width: $large) {
        padding: 0 32.5%;
    }
}


.big-header {
    font-size: 4.5rem;
    line-height: 1;
    letter-spacing: -.05rem;
    word-spacing: -1px;
    font-weight: 700;
    margin-bottom: 10px;
    color: black;
    margin-bottom: 0;

    @media screen and (min-width: $medium) {
        font-size: 5.5rem;
    }
}

.projectDescription {
    font-weight: 500;
    color: grey;
    margin-bottom: 10px;
}
.sub-header {
    font-size: 2rem;
    color: black;
    margin-bottom: 5px;
}
ol {
    list-style-type: none;
    
    li, strong {
        color: darkgrey;
        font-size: .95rem;
        margin-bottom: 10px;
    }
}