// Breakpoints

$small: 320px;
$medium: 767px;
$large: 1023px;
$extraLarge: 1440px;

// Color

$green: #43C655;

$blue: #0064FF;

$black-1: #0C0C0C;
$black-2: #29333A;
$black-3: #3F484F;

$white-1: #ffffff;
$white-2: #F7F8F8;
$white-3: #E1E0DF; 